extends layout

block head
  link(rel='stylesheet', href='/stylesheets/photos.style.css')

block content

  .con-section 
    .nav 
      a(href="/") Back
    .section-a.grid 
      -if (images)
        each image in images
          .card 
            a(href=`/photos/${image.id}`) 
              img(src=`/uploads/images/${image.image_name}`, alt="display")
      - if (!images)
          h3 There are no images yet