extends layout

block head
  link(rel='stylesheet', href='/stylesheets/photos.style.css')

block content

  .con-section 
    .nav 
      ul.flex.flx-spc-btw 
        li
        li
        li
          a(href="/") Home 
    .section-a.grid 
      each image in images
        .card 
          img(src=`/uploads/images/${image.image_name}`, alt="display")